.Card {
  width: 350px;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  padding: 20px;
}

.Card-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
  line-height: 28px;
}

.Card-person {
  font-weight: 600;
  color: #666;
  margin-bottom: 2px;
  line-height: 21px;
}

.Card-date {
  color: #666;
  padding-bottom: 2px;
}

.Card.isReadonly .Card-title,
.Card.isReadonly .Card-person {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.Card-progress {
  padding-top: 5px;
}

.Card-labels {
  display: flex;
  flex-direction: row-reverse;
}

.Card-label {
  padding-left: 4px;
}

.Card input {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: inherit;
  font-size: inherit;
  border: 1px solid #c3c3c3;
  padding: 0 4px;
}

.Card-title input {
  line-height: 28px;
}

.Card-person input {
  line-height: 21px;
  color: #666;
}
