.SideMenu {
  display: flex;
  flex-direction: column;
  background: rgb(47, 61, 68);
  height: 100%;
  padding: 10px 0;
}

.SideMenu button {
  color: rgb(79, 176, 231);
  height: 60px;
  border: none;
  background: none;
  text-transform: uppercase;
  cursor: pointer;
}

.SideMenu button.isSelected {
  color: #fff;
  background: rgb(61, 75, 83);
}
