.Legend {
  padding: 10px;
}

.Legend-title {
  padding-bottom: 5px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: #666;
}

.Legend-labels {
  display: flex;
  flex-direction: row;
}

.Legend-labelWrapper {
  display: flex;
  flex-direction: row;
  padding-right: 5px;
  align-items: center;
}

.Legend-labelTitle {
  padding: 0 5px;
}
