.App-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.App-sideMenu {
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  width: 60px;
}

.App-content {
  margin-top: 50px;
  margin-left: 60px;
  padding: 30px;
}
