.App-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.App-sideMenu {
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  width: 60px;
}

.App-content {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-left: 60px;
  padding: 30px;
}

.App-month {
  padding-right: 30px;
}

.App-month:last-child {
  padding-right: 0;
}

.App-monthTitle {
  font-size: 23px;
  font-weight: 300;
  padding-bottom: 10px;
}
