.Card {
  width: 350px;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  padding: 20px;
}

.Card-title {
  font-size: 20px;
  font-weight: 600;
}

.Card-person {
  font-weight: 600;
  color: #666;
}

.Card-date {
  color: #666;
}

.Card-progress {
  padding-top: 15px;
}
