.Header {
  height: 100%;
  display: flex;
  flex-direction: row;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.Header-left {
  flex: 60px 0;
}

.Header-right {
  flex: 1;
  padding-left: 30px;
  display: flex;
  align-items: center;
}

.Header h1 {
  font-size: 23px;
  font-weight: 400;
}
